html,
body {
    width: 50%;
    margin: auto;
}

#parent {
    background-color: darkgray;
    width: 400px;
}

.para {
    font-size: 30px;
    color: red;
    background-color: antiquewhite;
    margin: 10px;
}